:global body, :global html {
  font-size: 16px;
  font-family: sans-serif;
  background-color: #ddd;
}

.menu {
  position: absolute;
  top: 120px;
  right: 320px;
}

.container {
  width: 300px;
  padding: 30px;
}

.chat {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;

  background: #f9f9f9;
  width: 320px;

  border-left: 2px solid black;
}